.profile-pic {
    height: 300px;
    box-shadow: 0 0 10px 1px #999;
    padding: 5px;
}

.profile-pic-min {
    height: 150px;
    box-shadow: 0 0 10px 1px #999;
    padding: 5px;
}

.document-container-empty {
    min-width: 200px;
    background-color: #f5f5f5;
    border: 1px dashed #888888;
}

.document-container-filled {
    min-width: 200px;
    background-color: aliceblue;
    border: 1px solid dodgerblue;
}

.document-icon-filled {
    color: dodgerblue;
}

.overflowed-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.required::before {
    content: "* ";
    color: red;
}

@media (min-width: 1201px) {
    .dynamic-height {
        height: 156px !important;
    }
}

@media (max-width: 1200px) {
    .dynamic-height {
        height: 180px !important;
    }
}

@media (max-width: 992px) {
    .dynamic-height {
        height: 120px !important;
    }
}

@media (max-width: 768px) {
    .dynamic-height {
        height: 85px !important;
    }
}

@media (max-width: 576px) {
    .dynamic-height {
        height: 105px !important;
    }
}