html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

select {
    height: auto !important;
}

.highlightcolor {
    background-color: skyblue 
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

@media (min-width: 1201px) {
    .dynamic-height {
        height: 80px !important;
    }
}

@media (max-width: 1200px) {
    .dynamic-height {
        height: 80px !important;
    }
}

@media (max-width: 992px) {
    .dynamic-height {
        height: 120px !important;
    }
}

@media (max-width: 768px) {
    .dynamic-height {
        height: 85px !important;
    }
}

@media (max-width: 576px) {
    .dynamic-height {
        height: 105px !important;
    }
}