.profile-pic {
    box-shadow: 0 0 3px 1px #999;
    border-radius: 100px;
    height: 100px;
    /*width:100px;*/
    /*object-fit: cover;*/
    clip-path: circle(43% at 50% 42%);
}

.mini-profile-pic {
    box-shadow: 0 0 3px 1px #999;
    border-radius: 35px;
    height: 35px;
    clip-path: circle(43% at 50% 42%);
    /*object-fit: cover;*/
}
