@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ConfirmEmailConfirmationModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["InstructionsA"] <a asp-page="./Login">@Localizer["InstructionsB"]</a>.
</p>
