@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ERPSEI.Pages._404Model
@inject IViewLocalizer Localizer;
@{
}
<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <img class="indeximage" src="@this.HttpContext.Request.Scheme://@this.HttpContext.Request.Host/img/404.jpg" />
        <p class="fs-3">@Localizer["PageNotFound"]</p>
        <p class="lead">
            @Localizer["Message"]
        </p>
    </div>
</div>
