@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ERPSEI.Pages._404Model
@inject IViewLocalizer Localizer;
@{
}
<div class="d-flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="text-center">
        <i class="bi bi-bug-fill" style="font-size: 125px"></i>
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">@Localizer["Oops"]</span> @Localizer["PageNotFound"]</p>
        <p class="lead">
            @Localizer["Message"]
        </p>
    </div>
</div>
