@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<center>
    <h1>@Localizer["Title"]</h1>
    <h6>@Localizer["SecondaryTitle"]</h6>
    <img class="buildingimage" src="@HttpContext.Request.Scheme://@HttpContext.Request.Host/img/building.jpg" />
</center>
