@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IndexModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center container-fluid">
    <h1 class="display-5"><b>E</b>nterprise <b>R</b>esource <b>P</b>lanner <b>SEI</b></h1>
    <hr />
    <p>
        @Localizer["Welcome"]
    </p>
    <img class="indeximage" src="@this.HttpContext.Request.Scheme://@this.HttpContext.Request.Host/img/business2.jpg" />
    <br />
    <br />
    <p>
        <i>
            @Localizer["Instructions"]
        </i>
    </p>
</div>