@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PrivacyModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["SecondaryTitle"]</h1>

<h4>@Localizer["TertiaryTitle"]</h4>

<hr />

<center>
    <img class="privacyimage" src="@HttpContext.Request.Scheme://@HttpContext.Request.Host/img/policy.jpg" />
</center>

<p>
    @Localizer["PrivacyMessage"]
</p>
