@page
@model PrivacyModel
@{
    ViewData["Title"] = "Aviso de privacidad";
}

<h1>Aviso de privacidad simplificado</h1>

<h4>Enterprise Resource Planning - SEI Consulting Group</h4>

<hr />

<p>
    La empresa SEI Consulting Group (SEI) a la que pertenece el proyecto Web “Enterprise Resource Planning SEI”, es la que hará uso de la información para la operación del sitio.
    Los datos personales y/o sensibles que nos proporcione serán usados para:

    <ul>
        <li>Identificación del usuario en el sitio.</li>
    </ul>
    
    Ninguna de estas tendrá fines de lucro. Es importante que sepa que, en algunos casos, su nombre y su imagen pueden estar asociados y permitan que sea identificado por otras personas.
    
    Los datos personales que nos proporcione serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados, y otras normatividades que resulten aplicables.
</p>
