@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PrivacyModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["SecondaryTitle"]</h1>

<h4>@Localizer["TertiaryTitle"]</h4>

<hr />

<p>
    @Localizer["PrivacyMessage"]
</p>
