@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PersonalDataModel
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        @Localizer["Message"]
        <div class="mb-3">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">@Localizer["DownloadButton"]</button>
            </form>
        </div>
        <div class="mb-3">
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@Localizer["DeleteButton"]</a>
            </p>
        <div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
