@page "{handler?}"
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@model ERPSEI.Areas.ERP.Pages.PrefacturasModel
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["Title"];
}
<h3 class="title mb-3">@ViewData["Title"]</h3>

@section Scripts
{
	<link rel="stylesheet" href="~/css/Prefacturas.css" />
	<script src="~/../Areas/ERP/Pages/Prefacturas.cshtml.js"></script>
	<script type="text/javascript">
		
	</script>
}
